@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
:root {
    --primary-color: #4F46E5;
    --dark-gray: #374151;
    --off-gray: #E5E7EB
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.50rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

hr {
    margin: 2rem 0rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 450px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    font-size: 2rem;
    color: var(--dark-gray);
    text-align: center;
    padding-top: 1rem;
}

.hero .hero-heading .hero-inverted {
    color: var(--primary-color);
}

.section h3 {
    text-align: center;
    padding: 2rem;
}

.ow {
    background-color: var(--off-gray);
    border-radius: 1rem;
}

footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    columns: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}