@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
:root {
    --primary-color: #4F46E5;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.50rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}