@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}